@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');


.logo{
    transition: transform 0.3s linear;
}

.logo:hover{
    transform: scale(1.2);
}

nav{
    text-align: right;
}
