.main-banner{
    background-image: url(../../assets/img/pacman.gif);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 800px;
    border-bottom: 10px solid #999090;
    padding-left: 80px;
    padding-top: 107px;
}

.main-banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 640px;
}

.main-banner .main-box{
    margin-bottom: 40px;

}


.main-banner .navigation{
    display: flex;
    justify-content:space-around ;
}

.main-banner .main-button{
    font-family: 'Press Start 2P', sans-serif;
}